.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.names {
  display: flex;
  flex-wrap: wrap;
}

.female,
.male {
  border-radius: 5px;
  list-style: none;
  margin: 5px;
  padding: 2px;
  width: 5em;
}

.female {
  background-color: pink;
  color: black;
}
.male {
  background-color: #61dafb;
  color: black;
}
